{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "indent": [2, 4],
        "no-unused-vars": "warn"
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": "eslint:recommended"
}